# https://colab.research.google.com/

# Apprendre à coder en Python pour l'Intelligence Artificielle
Episode 1 - Variables, Structures et fonctions

<p align="center">
<a href="https://youtu.be/8fCtWNnBNFc" target="_blank" ><img  src="https://raw.githubusercontent.com/anisayari/Youtube-apprendre-python-intelligence-artificielle/master/utils/cover-serie-1.png" width="800" height="auto"/></a>
</p>

# Pourquoi Python ?!
Python est un langage de haut niveau, facilement compréhensible, accessible et très utilisé.

<p align="center">
<img  src="https://raw.githubusercontent.com/anisayari/Youtube-apprendre-python-intelligence-artificielle/master/utils/1-utils/pq_python.jpg" width="800" height="auto"/></a>
</p>

Le top 5 des langages à apprendre en 2020 - Vidéo Youtube

<a href="https://youtu.be/9NMoIsSOMX4" target="_blank" ><img  src="https://i9.ytimg.com/vi/9NMoIsSOMX4/maxresdefault.jpg?time=1586948789746&sqp=CNzU2_QF&rs=AOn4CLDQb3o52k6WJ6w-3rGlB89JukxbDg" alt="#1-AlDLaT" width="500" height="auto"/></a>

# Les variables et types de variables

In [3]:
print('Hello World')
print('bonjour')
'bonjour'

Hello World
bonjour

'bonjour'

In [10]:
a = 10
print(f'La variable A = {a}')

La variable A = 10

In [11]:
#Integer 0,1,2,3 (N) #int
variable1 = 10

print(variable1)
print(type(variable1))

#Float 0.5,1.663456534
variable2 = 10.0
print(variable2)
print(type(variable2))

#String 'Anis' #str
variable3 = 'Olympique de Marseille'
print(variable3)
print(type(variable3))

10
<class 'int'>
10.0
<class 'float'>
Olympique de Marseille
<class 'str'>

In [17]:
print(int(15.2))
# convertir Float > int, convertir des string (si uniquement des nombres) <> int,

15

In [16]:
#Boolean True, False, 1, 0 
print(1 == 0) #egalité ==

print(1 < 0) # inférieur <
print(1 <= 0) #inférieur ou égal <=

print(1 > 0) #supérieur >
print(1 >= 0) #superieur ou égal >=

print(1 != 0) #different

print(bool(1),bool(0))

False
False
False
True
True
True
True False

In [23]:
#Tuple (1,0) #se met toujours en parenthèse ()
variable4 = (1,0)
print(variable4)
print(type(variable4))

#List [1,0,'OM','PSG','OL'] #index des listes commencent à 0 ie position
variable5 = [1,0,'OM','PSG','OL']
print(variable5)
print(type(variable5))

#Dict {'P':'Pomme'} P : key , Pomme: Value {}
variable6 = {'P':['Profil','Papa','Peloton','Pomme'],
             'Anis':['Eau', 'Clavier', 'Souris']
             }

print(variable6)
print(type(variable6))

(1, 0)
<class 'tuple'>
[1, 0, 'OM', 'PSG', 'OL']
<class 'list'>

In [20]:
int('10')

10

# Les structures de contrôle

In [27]:
#if else / elif Permet de mettre des conditions if <condition1> :
variable1000 = "PSG"

if variable1000 == 'PSG':
  print("c'est le PSG")
elif variable1000 == "Olympique de Marseille" :
  print("c'est l'OM")
else:
  print("ce n'est ni l'om ni le psg")

c'est le PSG

In [41]:
#Boucle for <variable> in <list>:  ATTENTION AU BOUCLE INFINI ie sans condition d'arrêt
#NEVER REPEAT YOURSELF

for i in [0,1,2,3]:
  print(i)
  print(variable1000)

#print(variable1000)
#print(variable1000)
#print(variable1000)
#print(variable1000)
#print(variable1000)

for i in range(10): #PRINT UNIQUEMENT JUSQU'A 9, CAR COMMENCE A 0
  print(i)

del i

0
PSG
1
PSG
2
PSG
3
PSG
0
1
2
3
4
5
6
7
8
9

In [42]:
print(i)

NameError: ignored

In [45]:
#while <condition> pas résolu, on boucle
i=0
while(i!=10):
  print(i)
  i = i+1

0
1
2
3
4
5
6
7
8
9

# Les fonctions

In [47]:
#Fonction def NOM_FONCTION(ARGUMENT) Argument = les variables qui vont être utilisées dans la fonction
def mean(number1, number2):
  mean_of_two_numbers = (number1 + number2) / 2
  return mean_of_two_numbers

#print()

print(mean(10,20))
print(mean(15,20))
print(mean(432452343,432432432))

432442387.5

In [48]:
mean_of_two_numbers #Les variables des fonctions ne vivent pas à l'extérieur des fonctions

NameError: ignored